<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 add">
                <h2 class="text-center">Edit Baner</h2>
                <form action="/admin/edit-baner/{{Baner._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control" value="{{baner.name}}">
                    <label for="">Image</label>
                    <img src="/baner-images/{{Baner._id}}.jpg" alt="" style="width: 100px; height:auto" id="imgView"
                        class="pt-3 pb-3">
                    <input name="image" type="file" class="form-control" onchange="viewImage(event)">
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>
