<section>
    <div class="row m-auto">
       <div class="container m-auto" >
           <div class="col-md-12 text-center">
              <h1 class="text-center">Order Placed Successfully</h1>
               <a href="/orders" class="btn btn-dark">View Orders</a>
           </div>
       </div>
    </div>
</section>