<div class="row">
    <div class="col-md-4 m-auto mt-4 add">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/login-OTP" method="post">
            
                <div class="form-group">
                    <label for="">Enter OneTimePassword</label>
                    <input type="number" class="form-control" id="OTP" name="OTP" placeholder="Enter OTP">
                </div>
                     {{#if otpErr}}
            <p class="error" style="color:crimson;">{{otpErr}} </p>
            {{/if}}
                <button href="" type="submit" class="btn btn-dark float-end mt-3 mb-3 ms-4" href="/">Submit</button>
            
            </form>
        </div>
    </div>
</div>